.ipynb_checkpoints/
Challenge Medicals Minds.pdf
ageb_cdmx_epsg4326.geojson
agebs_cdmx_2016_shp/
carpetas_investigacion/
censo.json
censo.pkl
censo20_cdmx_por_ageb/
coneval_cdmx/
delitos.pkl
denue_cdmx/
geoms_agebs.csv
mi_cdmx_data.json
mi_cdmx_data-Copy1.geojson
